# Ignore dev-only requirements
requirements-dev.txt

# Ignore virtual environments
venv/
.env/

# Ignore Python cache
__pycache__/
*.pyc
*.pyo

# Ignore logs
*.log

# Ignore local config
*.env
.env.local

# Ignore Git and editor files
.git/
.gitignore
.DS_Store
.vscode/
.idea/

# Ignore test files
tests/
*.coverage
